---
import data from '../data/releases.json';
const titles = data.releases.map((r) => r.title);
const unit = titles
  .map((t) => `<span class="mq-title">${t}</span><span class="mq-dot">&bull;</span><em>Out Now</em><span class="mq-dot">&bull;</span>`)
  .join('');
const line = unit.repeat(2);
---
<div class="marquee t-light" data-theme="light" aria-hidden="true" data-screen-label="Marquee">
  <p class="marquee-line"><span class="mq" set:html={line}></span><span class="mq" set:html={line}></span></p>
</div>
